<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IntentRouterClient.IntentRouterClientClass" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IntentRouterClient.IntentRouterClientClass" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <configProtectedData>
      <providers>
        <add useMachineProtection="true" name="DPAPIProtection"
              type="System.Configuration.DpapiProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </configProtectedData>
  <applicationSettings>
    <IntentRouterClient.IntentRouterClientClass>
    </IntentRouterClient.IntentRouterClientClass>
  </applicationSettings>
  <userSettings>
    <IntentRouterClient.IntentRouterClientClass>
      <setting name="ClientName" serializeAs="String">
        <value />
      </setting>
      <setting name="ClientKey" serializeAs="String">
        <value />
      </setting>
      <setting name="MasterPrinciple" serializeAs="String">
        <value />
      </setting>
      <setting name="AWSRegion" serializeAs="String">
        <value></value>
      </setting>
      <setting name="IdentityPool" serializeAs="String">
        <value></value>
      </setting>
      <setting name="UserPool" serializeAs="String">
        <value></value>
      </setting>
      <setting name="ClientAppID" serializeAs="String">
        <value></value>
      </setting>
      <setting name="LoginUrl" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RedirectUrl" serializeAs="String">
        <value></value>
      </setting>
      <setting name="MasterRole" serializeAs="String">
        <value></value>
      </setting>
    </IntentRouterClient.IntentRouterClientClass>
  </userSettings>
</configuration>